.component-container {
  height: auto;
  width: 100%;
}

.header {
  padding: 0.5em;
}

.header-links {
  margin: 0 0 0 auto;
  width: fit-content;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-link {
  margin: 0 2em 0 0;
}

.nav-link button {
  width: 8em;
  height: 2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: lightgray;
  font-size: 1em;
}

.nav-link button:active {
  color: #fff;
  background-color: #008cba;
}

.searchContainer {
  display: flex;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  width: 500px;
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-size: 14px;
}

.searchBar:focus {
  outline: none;
}

.close-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 0 10px 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.auto-correct-container {
  display: flex;
  flex-direction: column;
  width: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#profile {
  display: flex;
  width: 100%;
  height: 4em;
  background-color: #050a30;
}

#profile:hover {
  background-color: #000c66;
  cursor: pointer;
}

.formAndSuggestion {
  width: fit-content;
  margin: auto;
}

.pic {
  width: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 17px;
  color: #fff;
  width: auto;
  padding-left: 25px;
}

.profile-pic {
  height: 70%;
  width: 70%;
  background-color: #fff;
  border-radius: 100%;
}

.username {
  margin-bottom: 0;
  margin-top: 10px;
}

.email {
  color: #c0c0c0;
}
